body {
    display: flex;
    flex-direction: column;
}
.opportunity-card {
    height: 350px;
    width: 300px;
    background-color: #677C67;
    border: 1px solid black;
    font-family: Tahoma;
    border-radius: 14px;
    display: inline-block;
    margin-right: 10px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
    color: #082B08;
}
.opportunity-name {
    text-align: center;
}
.card-image {
    border-radius: 10px 10px 0 0 ;
}
.opportunity-categories {
    margin: 10px;
    line-height: 30px;
    width: 280px;
    white-space: normal;
}
.category {
    background-color: #406140;
    color: #d3e5d3;
    box-shadow: 0 0 4px rgba(0,0,0,0.3);
}
.recommend-header {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}
.recommend-header > hr {
    background-color: black;
    border: none;
    height: 0.5px;
    width: 50%;
}
span {
    white-space: nowrap;
    padding: 2px;
    padding-left: 4px;
    padding-right: 6px;
    border-radius: 4px;
}
h2 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.scrollbar {
    margin-top: 20px;
    height: 370px; 
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.scrollbar::-webkit-scrollbar {
    display: none;
}